<h1>Editing nagios_host_template</h1>

<%= error_messages_for :nagios_host_template %>

<% form_for(@nagios_host_template) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @nagios_host_template %> |
<%= link_to 'Back', nagios_host_templates_path %>
