<h1>Editing nagios_service_detail</h1>

<%= error_messages_for :nagios_service_detail %>

<% form_for(@nagios_service_detail) do |f| %>
  <p>
    <b>Nagios host group</b><br />
    <%= f.text_field :nagios_host_group_id %>
  </p>

  <p>
    <b>Nagios service</b><br />
    <%= f.text_field :nagios_service_id %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @nagios_service_detail %> |
<%= link_to 'Back', nagios_service_details_path %>
