<h1>Listing nagios_host_templates</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for nagios_host_template in @nagios_host_templates %>
  <tr>
    <td><%=h nagios_host_template.name %></td>
    <td><%= link_to 'Show', nagios_host_template %></td>
    <td><%= link_to 'Edit', edit_nagios_host_template_path(nagios_host_template) %></td>
    <td><%= link_to 'Destroy', nagios_host_template, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New nagios_host_template', new_nagios_host_template_path %>
