<div id='update-interfaces'>
<%= error_messages_for :interface %>
  <p>
    <b>IP</b> ( [x] to delete IP [P] to mark IP primary )<br />
    <table>
      <tr>
        <th>vlan</th>
        <th>IP</th>
        <th>ifname</th>
        <th>mac</th>
      </tr>
        
    <% for o in mini_edit.interfaces %>
     <tr class=<%= cycle('row_odd','row_even')%> >
      <td>
        <%= link_to_remote '[x]',
                    :url => {:controller => 'interfaces', :action => :destroy, :id => o},
                    :update => 'update-interfaces',
                    :confirm => 'Are you sure?',
                    :method => :delete
                    %>
        <%= o.vlan_detail.vlan.name %>
      </td>   
      <td>
        <% if ! o.drac_ip? %>
          <% if  o.real_ip %>
            <b><%= o.ip_to_string %></b>
             
          <% else %> 
            <% if mini_edit.non_drac_interfaces.length > 1%>
              <%= link_to_remote '[P]',
                          :url => {:controller => 'interfaces', :action => :mark_real, :id => o},
                          :update => 'update-interfaces',
                          :before => "Element.show('spinner');",
                          :after => "Element.hide('spinner');"
                          %>
            <% end %>                                
            <%= o.ip_to_string %>
          <% end %>
        <% else %>
          <%= o.ip_to_string %>        
        <% end %>
        
      </td>
      <td><%= o.name %></td>
      <td><%= o.mac %></td>
     </tr>
      
    <% end %>
    </table>

  </p>
  
  <%= flash[:interface] %> 
  
  <fieldset><legend>Assigning IP</legend>
    <table>
      <tr>
        <td>Vlan:</td>
        <td>
          <%= select(:vlan_detail, "vlan_detail_id", 
              VlanDetail.find(:all, 
              :include => :vlan,
              :conditions => "colo_id = #{mini_edit.colo_id} AND vlans.drac != '1'").collect {|p| [p.vlan.name, p.id]}, 
              { :include_blank => true } )%>          
        </td>
      </tr>
     
    </table>
         
    <%= submit_to_remote 'provision','Auto Provision',
                        :url => {:controller => 'interfaces' , :action => :provision_vlan, :id => mini_edit},
                        :update => 'update-interfaces'
                        %>
    <hr/>
    
    <% if mini_edit.drac_interface.nil? and mini_edit.resource_type == "Server"%>
      No Drac IP found.
      <%= submit_to_remote 'add_drac','Add Drac IP',
                          :url => {:controller => 'interfaces' , :action => :add_drac, :id => mini_edit},
                          :update => 'update-interfaces'
                          %>
      <hr/>
    <% end %>
    
    <table>
      <tr>
        <td>IP:</td><td><%= text_field :interface, :ip , :size => '15'%></td>
      </tr>
      <tr>
        <td>Name(Optional):</td><td><%= text_field :interface, :name , :size => '15'%></td>
      </tr>
      <tr>
        <td>Mac(Optional):</td><td><%= text_field :interface, :mac , :size => '15'%></td>
      </tr>
     
    </table>
         
    <%= submit_to_remote 'add','Manual Add',
                        :url => {:controller => 'interfaces' , :action => :create, :id => mini_edit},
                        :update => 'update-interfaces'
                        %>
    <% if mini_edit.interfaces.collect{|a| a.vlan_detail.id}.uniq.length > 0 %>                        
      <hr/>                        
      <table>
        <tr>
          <td>Vlan:</td>
          <td>
            <%= select(:multi_ip, "vlan_detail_id", 
                VlanDetail.find(:all, 
                :include => :vlan,
                :conditions => "vlan_details.id IN (#{mini_edit.interfaces.collect{|a| a.vlan_detail.id}.uniq.join(',')}) AND vlans.drac != '1'").collect{|p| [p.vlan.name, p.id]}, 
                {})%>          
          </td>
        </tr>
       
      </table>
           
      <%= submit_to_remote 'multi_ip','Add Another IP to Current Vlan',
                          :url => {:controller => 'interfaces' , :action => :multi_ip, :id => mini_edit},
                          :update => 'update-interfaces'
                          %>
    <% end %>                        
  </fieldset>
  
  
       
</div>
