<% require 'networking'%>
<h1>Assigning server</h1>

<%= error_messages_for :server %>

<% form_for(:server, :url => { :action => :assign, :id => @server} ) do |f| %>

  <p>
    <b> Name: </b>
    <%= @server.asset.name %>
  </p>
  
  <p>
    <b> Colo: </b>
    <%= @server.asset.colo.name %>
  </p>

  <p>
    <b> Vlan: </b>
    <%= @vlan_detail.vlan.name %>
  </p>  

  <p>
    <b> IP Assigned = </b>
    <%= Networking.i_to_ip(@ip) %>
  <p>
    <!-- <%= f.submit "Done" %> -->
  </p>

<% end %>


<%= link_to 'Show', @server %> |
<%= link_to 'Back', servers_path %>
