<h1>Listing pdu_models</h1>

<table>
  <tr>
    <th>Manufacture</th>
    <th>Model</th>
    <th colspan=2>Action</th>
  </tr>

<% for pdu_model in @pdu_models %>
  <tr>
    <td><%=h pdu_model.manufacture %></td>
    <td><%=h pdu_model.model %></td>
    <td><%= link_to 'Edit', edit_pdu_model_path(pdu_model) %></td>
    <td><%= link_to 'Destroy', pdu_model, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pdu_model', new_pdu_model_path %>
