<h1>Edit vip</h1>

<%= error_messages_for :vip %>

<% form_for(@vip) do |f| %>

  <%= render (:partial => "assets/mini_new_name_only", :object => @vip.asset) %>


  <p>
    <b>Hosting Server</b><br />
    <%= f.collection_select(:hoster_id, Asset.find(:all, :order => :name), "id", "name") %>
  </p>

  
  <%= render (:partial => "interfaces/mini_edit_vip", :object => @vip) %>

  <p>
    <b>Proto</b><br />
    <%= f.select :proto, Vip::PROTOS %>
  </p>
  
  <p>
    <b>Port</b><br />
    <%= f.text_field :port , :size => '5'%>
  </p>
  
  <p>
    <b>Host Belonging to this Vip</b><br />
    <%= render (:partial => "vip_servers/mini_edit", :object => @vip.asset) %>
  </p>
  
  
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @vip %> |
<%= link_to 'Back', vips_path %>

