<h1>Listing vlans</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Vlan number</th>
  </tr>

<% for vlan in @vlans %>
  <tr>
    <td><%=h vlan.name %></td>
    <td><%=h vlan.vlan_number %></td>
    <td><%= link_to 'Show', vlan %></td>
    <td><%= link_to 'Edit', edit_vlan_path(vlan) %></td>
    <td><%= link_to 'Destroy', vlan, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New vlan', new_vlan_path %>
