<h1>Listing network_models</h1>

<table>
  <tr>
    <th>Manufacture</th>
    <th>Model</th>
    <th colspan="2">Actions</th>
  </tr>

<% for network_model in @network_models %>
  <tr>
    <td><%=h network_model.manufacture %></td>
    <td><%=h network_model.model %></td>
    <td><%= link_to 'Edit', edit_network_model_path(network_model) %></td>
    <td><%= link_to 'Destroy', network_model, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New network_model', new_network_model_path %>
