<h1>New network_model</h1>

<%= error_messages_for :network_model %>

<% form_for(@network_model) do |f| %>
  <p>
    <b>Manufacture</b><br />
    <%= f.text_field :manufacture %>
  </p>

  <p>
    <b>Model</b><br />
    <%= f.text_field :model %>
  </p>


  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', network_models_path %>
