<h1>New disk_model</h1>

<%= error_messages_for :disk_model %>

<% form_for(@disk_model) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Speed</b><br />
    <%= f.text_field :speed %>
  </p>

  <p>
    <b>Capacity</b><br />
    <%= f.text_field :capacity %>
  </p>

  <p>
    <b>Part number</b><br />
    <%= f.text_field :part_number %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', disk_models_path %>
